<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/996b7b3bef.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/welcome.css">
    <title>Document</title>
</head>
<body>
    <main class="flex-column-center">
        <div class="container-text-myfuelpal">
            <p style="margin-bottom: 0px;">MyFuelPal</p>
            <p class="container-subtext">Track your refueling history and more</p>
        </div>
        <a href="singup.html">
        <button class="container-button-signup"><p>Sign up</p></button>
        </a>

        <div class="container-subtext"><p>Or</p></div>

        <button class="container-button-login"><p>Login</p></button>
        <button class="container-button-loginwithfb">
            <i class="fa-brands fa-facebook"></i>
            <p>Connect with Facebook</p>
        </button>
    </main>
    

</body>
</html>

<!-- 
SHIFT + ENTER  wstawienie nowej lini
SHITD + OPTION + D skopiowanie aktualnej linii w dol


-->